[submodule "pack/custom-pkgs/start/vim-css3-syntax"]
	path = pack/custom-pkgs/start/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "pack/custom-pkgs/start/vim-gitgutter"]
	path = pack/custom-pkgs/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "pack/custom-pkgs/start/nerdtree"]
	path = pack/custom-pkgs/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/custom-pkgs/start/vim-airline"]
	path = pack/custom-pkgs/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/custom-pkgs/start/vim-fugitive"]
	path = pack/custom-pkgs/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/custom-pkgs/start/vim-airline-themes"]
	path = pack/custom-pkgs/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "pack/custom-pkgs/start/vim-blade"]
	path = pack/custom-pkgs/start/vim-blade
	url = https://github.com/jwalton512/vim-blade.git
